# How to import dataset in python using pandas library
Date: 01.08.2024

In [1]:
#Step 1
#importing libraries
import pandas as pd

In [10]:
#Step 2
#reading/importing dataset
df = pd.read_excel("../files/pandas_01_dataset.xlsx")

In [17]:
df.head() #first five rows
df.head(10) #how much rows data get

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
5     5.3      59        Biryani
6     5.6      50          Pasta
7     5.9      76        Biryani
8     5.1      78        Biryani
9     5.4      68        Biryani

In [12]:
df.tail() #last five rows

    Height  Weight Favourite Dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [14]:
df.shape #data shape(rows, columns)

(87, 3)

In [23]:
df.info() #full data info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     float64
 1   Weight          87 non-null     int64
 2   Favourite Dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

In [24]:
df.index #for index

RangeIndex(start=0, stop=87, step=1)

In [27]:
df.columns #get columns

Index(['Height', 'Weight', 'Favourite Dish'], dtype='object')

In [29]:
df.describe()

           Height      Weight
count   87.000000   87.000000
mean     9.998391   70.459770
std     25.733340   16.753899
min      5.000000   25.000000
25%      5.300000   60.000000
50%      5.600000   70.000000
75%      5.850000   80.000000
max    178.000000  125.000000